.container-footer{
    background-color: #234945;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.nav-links-footer{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    text-decoration: underline;
    font-size: 20px;
    color: #F3EEEE;
    margin:20px;
}

.social-media{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 500px;
}
.social-title{
    color: #F3EEEE;
    font-size: 20px;
    padding-bottom: 40px;
}
.social-media-links{
    padding-left: 40px;
}
@media screen and (max-width:790px) {
    .container-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
}

}